.App {
    text-align: center;
    padding-top: 75px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    background: white;
}

nav h3 {
    margin-right: 10px;
    padding: 5px;

    background: blue;
    color: white;
}

.grid {
    background: black;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    grid-row-gap: 1px;
}

.grid__row {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 1px;
}

.grid__tile {
    width: 100%;
    height: 100%;
    border: none;
    font-family: monospace;
    font-size: 20px;
    padding: 0;
    background: white;
}

.grid__tile:focus {
    outline: none;
}

.grid__tile.m_hasVal {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotatein .5s ease;
}

.grid__tile.m_hasVal > span {
    font-size: 50px;
    line-height: 1;
    color: black;
    font-family: monospace;
}

@keyframes rotatein {
    0% {
        transform: rotateX(-180deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}